.container {
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 24px;
  font-family: 'Roboto';
  margin-top: 70px;
}

h1 {
  margin: 24px 0;
}

.desc {
  font-size: 20px;
  margin: 0;
}

.wave {
  cursor: default;
}

ul {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
  clear: both;
}

li {
  float: left;
  margin: 0 8px;
}

.light {
  margin: 0;
}

a {
  color: #000;
  cursor: pointer;
}

#static {
  display: block;
  margin-left: auto;
  margin-right: auto;
  -moz-border-radius: 100% / 100%;
  -webkit-border-radius: 100% / 100%;
  border-radius: 100% / 100%;
}

#dynamic {
  display: none;
  margin-left: auto;
  margin-right: auto;
  -moz-border-radius: 100% / 100%;
  -webkit-border-radius: 100% / 100%;
  border-radius: 100% / 100%;
}

@media (max-width: 500px) {

  .container {
    font-size: 18px;
    margin-top: 40px;
  }

  h1 {
    margin-bottom: 0;
  }

  .desc {
    margin: 10px 0;
  }

  .wave {
    margin: 0;
  }

  li {
    margin-top: 12px;
    float: none;
  }

  /* when no longer needed */
  /* i disappear into the mist */
  .mist {
    display: none;
    margin: 0;
  }
}
